* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #151513;
}

p {
    font-size: 25px;
    color: #D3E601;
}

label {
    color: #D3E601;
    font-size: 20px;
    margin-bottom: 5px;
}


.container {
    display: grid;
    width: 100%;
    height: 100dvh;
    justify-items: center;
}

#input {
    display: grid;
    max-height: 90dvh;
    height: 90dvh;
    place-items: center;
    width: 100%;
    max-width: 20rem;
    align-content: center;
}

#div_botao{
    margin: 0;
    width: 100%;
    height: 20dvh;
    max-height: 10dvh;
    background-color: #151513;
    display: flex;
    justify-content: space-between;
    padding: 0px 5vh 5vh 5vh;
}

.link {
    width: 150px;
    padding: 10px;
    appearance: button;
    text-decoration: none;
    color: black;
}

#cpf, #nome {
    background-color: #EAE9E7;
    padding: 0.75rem;
    width: 100%;
    border-radius: 1.125rem;
}

.botao {
    width: 150px;
    border-radius: 1.2rem;
}
.anterior {
    border-radius: 1.2rem;
}