<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'options.css') }}">

    <title>Consumiu02</title>
</head>
<body>
    <main class="input">
        <h1>Ontem você consumiu:</h1>
        <div class="variaveis-py">{{ progresso }}</div>
        <form action="/marcadores/consumiu02" method="post" class="form" id="form-p">
            <div class="item">
                <input type="checkbox" name="consumiu" id="bebidas">
                <label for="bebidas">Bebidas adoçadas</label>
            </div>
            <div class="item">
                <input type="checkbox" name="consumiu" id="massas">
                <label for="massas">Macarrão instantâneo, salgadinhos de pacote ou biscoitos salgados</label>
            </div>
            <div class="item">
                <input type="checkbox" name="consumiu" id="guloseimas">
                <label for="guloseimas">Biscoito recheado, doces ou guloseimas</label>
            </div>
        </form>
    </main>
    <footer class="div_botao">    
        <button class="botao" onclick="window.location.assign('/marcadores/consumiu01')" id="anterior"> <= Anterior</button>
        <div class="meio">
            <section class="progresso">
                <div class="range">
                    <div class="completado"></div>
                </div>
                <h3>% Completado</h3>
            </section>
            <aside><span>&#169;</span> made by UFMS</aside>
        </div>
        <button class="botao" form="form-p" type="submit" id="proximo">Próxima =></button>
    </footer>
</body>
</html>