<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'descricao.css') }}">

    <title>Marcadores03</title>
</head>
<body>
    <main class="input">
        <h1>Ontem você consumiu:</h1>
        <div class="variaveis-py">{{ progresso }}</div>
        <form action="/datetime.html" method="post" class="form" id="form-p">
            <div class="item">
                <input type="checkbox" name="consumiu" id="feijao">
                <label for="feijao">Feijão</label>
                <p>kasdkasfke</p>
            </div>
            <div class="item-grande">
                <input type="checkbox" name="consumiu" id="frutas" >
                <label for="frutas">Frutas frescas(<span class="cortado">sucos</span>)</label>
            </div>
            <div class="item-grande">
                <input type="checkbox" name="consumiu" id="verduras">
                <label for="verduras">Verduras e/ou legumes</label>
            </div>
            <div class="item-grande">
                <input type="checkbox" name="consumiu" id="embutidos" >
                <label for="embutidos">Hambúrguer e/ou embutidos</label>
            </div>
        </form>
    </main>
    <footer class="div_botao">    
        <button class="botao" onclick="window.location.assign('/datetime.html')" id="anterior"> <= Anterior</button>
        <div class="meio">
            <section class="progresso">
                <div class="range">
                    <div class="completado"></div>
                </div>
                <h3>% Completado</h3>
            </section>
            <aside><span>&#169;</span> made by UFMS</aside>
        </div>
            <button class="botao"  form="form-p"  type="submit" id="proximo">Próxima =></button>
    </footer>
</body>
</html>