<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename= 'favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'principal.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="text">
            <h1>Bem Vindo!</h1>
            <p>Podemos começar?</p>
        </div>
        <div class="input">
            <a class="link" href="/dados/cpf">
                <button class="botao" id="id_botao">Sim</button>
            </a>
        </div>
        <h1 id="teste"></h1>
    </div>



  
</body>
</html>