<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>Medição de Altura</title>
</head>
<body>
    <h1>Vamos começar:</h1>
    <form action="/dados/altura_verif" method="post">
        <input type="text" placeholder="Digite aqui" name="altura">
        <button type="submit">Enviar</button>
    </form>
    {% set mensagens = get_flashed_messages() %}
    <p>{{mensagens}}</p>
</body>
</html>