<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>Medir Peso</title>
</head>
<body>
    <h1>Estamos lhe pesando(a)!</h1>
    <form action="/dados/peso_verif" method="post">
        <input type="text" placeholder="Digite aqui" name="peso">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>