<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'principal.css') }}">
    <title>Peso Inicial</title>
</head>
<body>
    {% set mensagens = get_flashed_messages() %}
    {%if mensagens[0]:%}
    <script>
        window.alert('{{mensagens[0]}}')
    </script>
    {%endif%}
    <div class="container">
        <div class="text">
            <h1>Agora vamos medir o seu peso!</h1>
            <p>Clique aqui quando estiver pronto:</p>
        </div>
        <div class="input" id="dois_botoes">
            <a class="link" href="/dados/altura">
                <button class="botao">Anterior</button>
            </a>
            <a href="/dados/medir_peso" class="link">
                <button class="botao">Pronto</button>
            </a>
        </div>
    </div>
</body>
</html>